<!DOCTYPE html>
<html lang="es">
<head>
    {% load staticfiles %}
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="vCard template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/bootstrap-4.1.2/bootstrap.min.css'%}">
    <link href="{% static 'assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/style.css'%}">
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/responsive.css'%}">
    -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.ico'%} ">
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

</head>
<body>

<div class="super_container">

    <header class="header">
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo">VickyG<span>.</span>H<span>.</span></div>
            <div class="main_nav d-flex flex-row align-items-end justify-content-start">
                <ul class="d-flex flex-row align-items-center justify-content-start">
                    <li id="menu_1"><a href="{% url 'Princ:Inicio' %}">Acerca</a></li>
                    <li id="menu_2"><a href="{% url 'Princ:Educacion' %}">Educación</a></li>
                    <li id="menu_3"><a href="{% url 'Princ:Experiencia' %}">Experiencia</a></li>
                    <li id="menu_4"><a href="{% url 'Princ:Habilidad' %}">Habilidades</a></li>
                    <li id="menu_5"><a href="{% url 'Princ:Trabajos' %}">Trabajos</a></li>
                    <!--<li id="menu_6"><a href="{% url 'Princ:Contacto' %}">Contacto</a></li>-->
                </ul>
            </div>
            <!-- Menu -->
            <div class="menu">
                <div class="menu_content d-flex flex-row align-items-start justify-content-end">
                    <div class="hamburger ml-auto">menu</div>
                    <div class="menu_nav text-right">
                        <ul>
                            <li><a href="{% url 'Princ:Inicio' %}">Acerca</a></li>
                            <li><a href="{% url 'Princ:Educacion' %}">Educación</a></li>
                            <li><a href="{% url 'Princ:Experiencia' %}">Experiencia</a></li>
                            <li><a href="{% url 'Princ:Habilidad' %}">Habilidades</a></li>
                            <li><a href="{% url 'Princ:Trabajos' %}">Trabajos</a></li>
                            <!--<li><a href="{% url 'Princ:Contacto' %}">Contacto</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="content_container">
        <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

            <!-- General Information -->
            <div class="general_info d-flex flex-xl-column flex-md-row flex-column">
                <div>
                    <div class="general_info_image">
                        <div class="background_image"
                             style="background-image:url({{MEDIA_ROOT}}{{ persona.fotografia.url }})"></div>
                    </div>
                </div>
                <div class="general_info_content">
                    <div class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
                        <div class="general_info_title">Información General</div>
                        <ul class="general_info_list">
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                                    <img src="{% static 'assets/images/icon_1.png' %}" alt=""></div>
                                <div class="general_info_text">Nombre: <span>
                                    {{persona.nombre}} {{persona.paterno}} {{persona.materno}}
                                </span></div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                                    <img src="{% static 'assets/images/icon_6.png' %}" alt="">
                                </div>
                                <div class="general_info_text">Ubicación: <span>{{persona.direccion}}</span></div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                                    <img src="{% static 'assets/images/icon_2.png' %}" alt=""></div>
                                <div class="general_info_text">Fecha de Nac.: <span>{{persona.fecha_nac}}</span></div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                                    <img src="{% static 'assets/images/icon_3.png' %}" alt=""></div>
                                <div class="general_info_text">
                                    <a href="mailto:{{persona.correo}}?subject=Job_Inquiry">{{persona.correo}}</a>
                                </div>
                            </li>
                        </ul>
                        <!-- Social -->
						<div class="social_content">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="https://www.facebook.com/VickyGH93" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
								<li><a href="https://twitter.com/garvicky93?lang=es" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://github.com/VickyGH" target="_blank">
                                    <i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://bitbucket.org/VickyGH" target="_blank">
                                    <i class="fab fa-bitbucket" aria-hidden="true"></i></a>
                                </li>
							</ul>
						</div>

                    </div>
                </div>
            </div>

            <!-- Main Content -->
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div align='center'>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved
        <!--| This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
            href="https://colorlib.com" target="_blank">Colorlib</a>-->
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>

</div>

<script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'assets/styles/bootstrap-4.1.2/popper.js'%}"></script>
<script src="{% static 'assets/styles/bootstrap-4.1.2/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/plugins/greensock/TweenMax.min.js'%}"></script>
<script src="{% static 'assets/plugins/greensock/TimelineMax.min.js'%}"></script>
<script src="{% static 'assets/plugins/scrollmagic/ScrollMagic.min.js'%}"></script>
<script src="{% static 'assets/plugins/greensock/animation.gsap.min.js'%}"></script>
<script src="{% static 'assets/plugins/greensock/ScrollToPlugin.min.js'%}"></script>
<script src="{% static 'assets/plugins/progressbar/progressbar.js'%}"></script>
<script src="{% static 'assets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js'%}"></script>
<script src="{% static 'assets/plugins/easing/easing.js'%}"></script>
<script src="{% static 'assets/plugins/Isotope/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'assets/plugins/Isotope/fitcolumns.js'%}"></script>
<script src="{% static 'assets/plugins/parallax-js-master/parallax.min.js'%}"></script>
<script src="{% static 'assets/js/custom.js'%}"></script>
<script src="{% static 'assets/js/skills.js'%}"></script>
<script src="{% static 'assets/js/portfolio.js'%}"></script>
</body>
</html>