{% extends "Principal/Base.html" %}
{% block title %}Educación{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/education.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/education_responsive.css'%}">

<div class="main_content">
    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
        <div class="main_title">Mi Educación</div>
    </div>
    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
        <!-- Education -->
        <div class="education">
            {% for edu in educacion %}
            <!-- Education Item -->
            <div class="edu_item d-flex flex-lg-row flex-column align-items-start justfy-content-start">
                <div>
                    <div class="edu_year">{{edu.anio_egreso}}</div>
                </div>
                <div>
                    <div class="edu_image">
                        <img src="{{MEDIA_ROOT}}{{ edu.logo.url }}" alt="">
                    </div>
                </div>
                <div class="edu_content">
                    <div class="edu_title_container">
                        <div class="edu_title">{{edu.escuela}}</div>
                        <div class="edu_subtitle">{{edu.titulo}}</div>
                    </div>
                    <div class="edu_text">
                        <p>{{edu.ubicacion}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script language="JavaScript">
li = document.getElementById("menu_2");
li.className += "active";
</script>

{% endblock %}