{% extends "Principal/Base.html" %}
{% block title %}Experiencia{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/experience.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/experience_responsive.css'%}">

<div class="main_content">
    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
        <div class="main_title">Mi Experiencia</div>
    </div>
    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">

        <!-- Experience -->
        <div class="experience">
            {% for exp in experiencia %}
            <!-- Experience Item -->
            <div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
                <div>
                    <div class="exp_time">{{exp.fecha_ini}}-</div>
                    <div class="exp_time">{{exp.fecha_fin}}  </div>
                </div>
                <div class="exp_content">
                    <div class="exp_title_container">
                        <div class="exp_title">{{exp.puesto}}</div>
                        <div class="exp_subtitle">{{exp.empresa}}</div>
                    </div>
                    <div class="exp_text">
                        <p>Actividades:</p>
                        <ul>
                        {% for actividad in exp.actividad.all %}
                            <li>{{actividad}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="exp_text">
                        <p>Logros:</p>
                        <ul>
                        {% for logro in exp.logros.all %}
                            <li>{{logro}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="exp_text">
                        <p>Conocimientos:</p>
                        {% for conocimiento in exp.conocimiento.all %}
                            <button class="tag"> {{conocimiento}} </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor  %}
        </div>

    </div>
</div>

<script language="JavaScript">
li = document.getElementById("menu_3");
li.className += "active";


</script>

{% endblock %}