{% extends "Principal/Base.html" %}
{% block title %}Habilidades{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/skills.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/skills_responsive.css'%}">

<div class="main_content">
    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
        <div class="main_title">Mis Habilidades</div>
    </div>
    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">

        <!-- Skills Content -->
        <div class="skills">
            {% for habilidad in habilidades %}
            <!-- Progress Bars -->
            <div class="skill_title">{{habilidad.titulo}}</div>
            <div class="progress_bars">
                <div class="container-fluid">
                    <div class="row">
                        {% for conocimiento in habilidad.conocimientos %}
                        <!-- Progress Bar -->
                        <div class="col-xl-4 col-lg-6 pb_col">
                            <div class="pb_item">
                                <div class="p_bar_title">{{conocimiento.conocimiento}}</div>
                                <div id="skill_{{conocimiento.id}}" class="skill_bars"
                                     data-perc="{{conocimiento.porcentaje}}" data-name="skill_{{conocimiento.id}}"
                                     data-color-start="#79ccff" data-color-end="#9b74ff"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script language="JavaScript">
li = document.getElementById("menu_4");
li.className += "active";


</script>

{% endblock %}