{% extends "Principal/Base.html" %}
{% block title %}Inicio{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/main_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/responsive.css'%}">

<div class="main_content">
    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
        <div class="main_subtitle">Desarrollador Web y Móvil</div>
        <div class="main_title">{{persona.nombre}} {{persona.paterno}} {{persona.materno}}</div>
    </div>
    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
        <div class="about_content">
            <div class="about_title">Descripción</div>
            <div class="about_text">
                <p>Ingeniería en Tecnologías de la Información y Técnico Superior Universitario en
                    Tecnologías de la Información y Comunicación: Área sistemas informáticos<br>

                    Busco desenvolverme profesionalmente en una empresa al desarrollo de software, donde muestre mi
                    potencial laboral, me permita tener oportunidades para crecer y obtener nuevos conocimientos.
                </p>
            </div>

            <!-- Loaders -->

            <div class="loaders clearfix">

                {% for hab in habilidades %}
                <!-- Loader -->
                <div class="loader_container">
                    <div class="loader" data-perc="{{ hab.porcentaje}}"></div>
                    <div class="loader_content text-center">
                        <div class="loader_title">{{ hab.habilidad}}</div>
                        <div class="loader_subtitle">{{ hab.descripcion }}</div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
li = document.getElementById("menu_1");
li.className += "active";

</script>

{% endblock %}