{% extends "Principal/Base.html" %}
{% block title %}Habilidades{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/portfolio.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/estilos/portfolio_responsive.css'%}">

<div class="main_content">
    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
        <div class="main_title">Mi portafolio</div>
    </div>

    <!-- Sorting -->
    <div class="portfolio_categories button-group filters-button-group">
        <ul>
            <li class="portfolio_category active is-checked" data-filter="*">Todos</li>
            {% for t in tipos %}
            <li class="portfolio_category" data-filter=".p_{{t.tipo}}">{{t.tipo}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
        <div class="portfolio_grid grid clearfix">

            {% for trab in trabajos %}
            <!-- Portfolio Item -->
            <div class="grid-item portfolio_item p_{{trab.tipo}}">
                <img src="{{MEDIA_ROOT}}{{ trab.imagen.url }}" alt="">
                <div class="portfolio_item_content d-flex flex-column align-items-center justify-content-center">
                    <div class="portfolio_item_title">{{trab.nombre}}</div>
                    <div class="portfolio_item_skill">

                    </div>
                    <div class="portfolio_item_link"><a href="{{trab.url}}">Ver más</a></div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script language="JavaScript">
li = document.getElementById("menu_5");
li.className += "active";
</script>

{% endblock %}