@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.header_button
	{
		position: absolute;
		right: 66px;
		bottom: -80px;
		z-index: 10;
	}
	.loader_cont
	{
		width: 50%;
		margin-bottom: 60px;
	}
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.general_info
	{
		width: 400px;
	}
	.general_info_image
	{
		height: 400px;
	}
	.general_info_content
	{
		padding-left: 50px;
	}
	.main_content
	{
		width: calc(100% - 400px);
	}
	.main_title
	{
		font-size: 72px;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.main_nav
	{
		display: none !important;
	}
	.menu
	{
		display: block;
	}
	.header_button_2
	{
		display: block;
		left: 15px;
		right: auto;
		bottom: 10px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.super_container
	{
		width: 100%;
		height: auto;
	}
	.general_info
	{
		width: 100%;
	}
	.main_content_outer
	{
		height: auto;
	}
	.general_info_image
	{
		width: 473px;
		height: 473px;
	}
	.main_content
	{
		width: 100%;
	}
	.general_info_content
	{
		padding-left: 80px;
	}
	.general_info_title
	{
		font-size: 24px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.general_info_content
	{
		padding-left: 50px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 930px)
{
	.general_info_image
	{
		width: 323px;
	}
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.logo
	{
		font-size: 28px;
	}
	.general_info_image
	{
		width: 100%;
		height: calc(100vw - 81px);
	}
	.general_info_content
	{
		padding-bottom: 40px;
	}
	.main_content
	{
		padding-left: 52px;
	}
	.main_title
	{
		font-size: 48px;
	}
	.main_subtitle
	{
		font-size: 24px;
	}
	.loader_cont
	{
		width: 100%;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.super_container
	{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 60px;
	}
	.header
	{
		height: 60px;
		padding-top: 10px;
		padding-left: 15px;
	}
	.logo
	{
		font-size: 24px;
	}
	.menu
	{
		height: 380px;
		width: 220px;
	}
	.menu.active,
	.header.scrolled .menu.active
	{
		bottom: -310px;
	}
	.hamburger
	{
		right: 15px;
		font-size: 14px;
	}
	.menu_nav
	{
		padding-right: 15px;
	}
	.menu_nav ul li a
	{
		font-size: 14px;
	}
	.general_info_image
	{
		height: calc(100vw - 30px);
	}
	.main_content
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	.main_content_scroll
	{
		padding-right: 0;
	}
	.main_title_container
	{
		height: 153px;
	}
	.main_title
	{
		font-size: 36px;
	}
	.main_subtitle
	{
		font-size: 18px;
	}
	.about_title
	{
		font-size: 24px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{

}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{

}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{

}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}