@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Content
	5.1 Education
	5.2 Experience


******************************/
.social_content
{
	margin-top: 26px;
	padding-left: 38px;
}
.social_content ul li:not(:last-child)
{
	margin-right: 28px;
}
.social_content ul li a i
{
	font-size: 18px;
	color: #8d8b9b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_content ul li a i:hover
{
	color: #FFFFFF;
}
.tag
{
    background-color: #8583e1;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 12px;
    pointer-events: none;
}
.skill_title{
    margin-top: 25px;
    font-size: 24px;
	font-weight: 700;
	color: #100f3a;
	line-height: 0.75;
}